.containerCreate {
    display: grid;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 100px;
    font-family: 'Arial Rounded MT';
}

.teksti {
    font-family: 'Arial Rounded MT';
}

.tekstikenttä {
    font-family: 'Arial Rounded MT';
}

.nappi {
    font-family: 'Arial Rounded MT';
}

.message {
    font-family: 'Arial Rounded MT';
}