.containerCreate {
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 115px;
    font-family: 'Arial Rounded MT';
}

.teksti {
    margin-bottom: 10px;
    font-family: 'Arial Rounded MT';
}

.tekstikenttä {
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 4px;
    height: 30px;
    font-family: 'Arial Rounded MT';
}

.nappi {
    background-color: #5d3d5a;
    color: white;
    border-radius: 4px;
    border: none;
    height: 50px;
    font-family: 'Arial Rounded MT';
}

.nappi:hover {
    cursor: pointer;
    background-color: #5d3d5abd;
}

.message {
    font-family: 'Arial Rounded MT';
}